* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: transparent;
  border: none;
  line-height: 1;
  user-select: none;
}

body {
  background-color: rgb(6, 2, 32);
  display: flex;
  flex-direction: column;
  align-items: center
}


/* header */ 

header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100dvw;
}

.icon-bell {
  font-size: 2rem;
  position: relative;
}

.unreadedNotifications::after {
  content: '';
  position: absolute;
  width: 12px;
  aspect-ratio: 1/1;
  background-color: red;
  border-radius: 50%;
  top: -2px;
  right: -2px;
}

.logoTitle {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logoTitle div {
  height: 100%;
}

.logoTitle img {
  object-fit: contain;
  height: 100%;
}

.logoTitleName {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header a.profilePicture {
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: aliceblue solid;
}

header a.profilePicture span {
  height: 100%;
  font-size: 2.5rem;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
}
#notificationBanner{
  position: absolute;
  z-index: 8;
  width: 400px;
  max-width: 65%;
  max-height: 50dvh;
  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  border-radius: 15px;
  background-color: rgba(0, 61, 102, 0.842);
  display: flex;
  flex-direction: column;
  left: -100dvw;
  transition: 1s;
}
#notificationBanner>h3{
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: rgba(0, 61, 102, 0.842);
  padding: 15px;
}
.notification{
  width: 100%;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  text-align: start;
  direction: rtl;
  color: rgb(212, 212, 240);
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 15px;
  transition: 1s;
}
.notification.unreadedNotification{
  color: white;
  background-color: rgba(1, 72, 119, 0.897);
}
.notificationHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: inherit;
}
.notificationIcon{
  font-size: 2rem;
  color: inherit;
  text-align: center;
}
.notificationData{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  direction: rtl;
  color: inherit;
}
.notificationTitle{
  font-size: 1.2rem;
  font-weight: 900;
  color: inherit;
}
.notificationDescription{
  font-size: 1rem;
  color: inherit;
}
.notificationDetails{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: inherit;
  position: absolute;
  top: 100%;
  overflow-x: hidden;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
.notificationDetails p{
  font-size: .9rem;
  line-height: 1.1rem;
  margin-bottom: 5px;
  color: inherit;
  margin: 10px;
}
.notificationTime{
  font-size: .8rem;
  color: inherit;
  width: fit-content;
  direction: ltr;
  align-self: flex-start;
}
.notificationExit{
  /* display: flex;
  justify-content: center;
  align-self: center;
  border: solid;
  width: 300%;
  padding: 10px;
  gap: 10px;
  font-size: 1.2rem;
  color: inherit; */
  display: none;
}
.notificationExit div{
  font-weight: 900;
  color: inherit;
}
.CurrentOpenedNotification{
  background-color: rgba(5, 84, 138, 0.952);
}
.noNotificationsMs{
  direction: ltr;
  width: fit-content;
  margin: 20px 0;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
}



.mainContainer {
  width: 100%;
  height: calc(100dvh - 140px);
  overflow: hidden;
  display: flex;
  scroll-behavior: smooth;
  position: relative;
}


/* footer */
footer{
  height: 70px;
  width: 100dvw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a{
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
footer a span{
  font-size: 2rem;
  color: rgb(182, 180, 180);
}
.activePage{
  color: aliceblue;
}
.adBanner{
  width: 100%;
  height: calc(100% - 140px);
  position: fixed;
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  justify-content: end;
}
.adBanner>*{
  pointer-events: painted;
}
.adBanner div{
  min-height: max-content;
  width: 400px;
  max-width: 70%;
  padding: 7px;
  border-radius: 15px;
  direction: rtl;
  overflow-wrap: break-word;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
}
.adDiv.red{
  background-color: rgba(255, 0, 0, 0.5);
  border: red solid;
}
.adDiv.green{
  background-color: rgba(8, 185, 38, 0.5);
  border: rgb(0, 255, 0) solid;
}
.adBanner .adDiv{
  transform: translateX(100%);
  animation: adDiv 10s forwards;
}
@keyframes adDiv {
  10%{
    transform: translateX(-20px);
  }15%{
    transform: translateX(0px);
  }85%{
    transform: translateX(0px);
  }90%{
    transform: translateX(20px);
  }100%{
    transform: translateX(-100dvw);
    display: none;
  }
}

