#rank-page {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#topThree {
  width: 100%;
  max-width: 500px;
  height: 35dvh;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-image: linear-gradient(to right, silver, gold, rgb(168, 116, 20)) 1;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-shrink: 0;
}

#topThree>div {
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

#topThree>#rankLeftPlace {
  height: 80%;
}

#topThree>#rankRightPlace {
  height: 70%;
}

#topThree>div .rankDetails {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

#topThree>div .rankDetails>div:first-child {
  background: linear-gradient(to right, rgb(192, 164, 6), rgb(209, 198, 133), gold);
  width: 100%;
  height: 10px;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
  flex-shrink: 0;
}

#topThree>#rankLeftPlace .rankDetails>div:first-child {
  background: linear-gradient(to right, rgb(138, 138, 138), rgb(255, 255, 255), silver);
  width: 100%;
  clip-path: polygon(10% 0%, 0100% 0%, 100% 100%, 0% 100%);
}

#topThree>#rankRightPlace .rankDetails>div:first-child {
  background: linear-gradient(to right, rgb(109, 77, 17), rgb(124, 83, 7), rgb(228, 169, 59));
  width: 100%;
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

#topThree>div .rankDetails>div:nth-child(2) {
  width: 100%;
  flex: 1;
  display: flex;
  position: relative;
}

#topThree>div .rankDetails>div:nth-child(2) div:first-child {
  height: 100%;
  flex: 1;
  background-color: rgb(31, 45, 75);
}

#topThree>div .rankDetails>div:nth-child(2) div:nth-child(2) {
  height: 100%;
  flex: 1;
  background-color: rgb(41, 66, 96);
}

#rankMiddleNo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  top: 15%;
  color: gold;
}

#rankLeftPlace #rankMiddleNo {
  color: silver;
}

#rankRightPlace #rankMiddleNo {
  color: rgb(168, 116, 20);
}

.rankProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.rankProfile>div:first-child {
  font-size: 50px;
  border: gold solid;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 65px;
  text-align: center;
  overflow: hidden;
}

#rankLeftPlace .rankProfile>div:first-child {
  border: silver solid;
}

#rankRightPlace .rankProfile>div:first-child {
  border: rgb(168, 116, 20) solid;
}

.rankProfile>h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5px;
}

.rankProfile>h5 {
  font-size: 1rem;
  text-align: center;
  color: gold;
  font-weight: 700;
}

#rankLeftPlace .rankProfile>h5 {
  color: silver;
}

#rankRightPlace .rankProfile>h5 {
  color: rgb(168, 116, 20);
}

#allPlaces {
  width: 100%;
  max-width: 500px;
  flex: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.allPlacesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-shrink: 0;
}

.allPlacesHeader h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

#rankRefreshButton {
  width: 4rem;
  height: 2.3rem;
  background-color: rgb(83, 38, 38);
  border: rgb(134, 5, 5) solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 1s, border 1s;
  position: relative;
}

#rankRefreshButton>div {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  right: 5px;
  transition: 1s;
}
.spinner{
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to{
    transform: rotate(360deg);
  }
}

.rankUsers {
  flex: 1;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
}

.rankedProfile {
  width: 90%;
  display: flex;
  background-color: rgb(14, 27, 44);
  border-radius: 10px;
  padding: 15px;
  justify-content: start;
}

.rankPlaceNo {
  font-size: 2rem;
  font-weight: 700;
}

.rankProfilePicture {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
}

.rankProfilePicture>div {
  font-size: 2rem;
  background-color: rgb(22, 43, 70);
  text-align: center;
}

.rankUserDetails {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.rankUserNameRanked {
  font-size: 1.7rem;
  font-weight: 700;
}

.rankUserCocsNo {
  font-size: 1rem;
  font-weight: 700;
  color: gold;
  align-self: flex-end;
}