#transaction-page {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#transactionProfileData {
  width: 85%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 15px;
  background: linear-gradient(to right, rgba(2, 42, 61, 0.692), rgb(1, 112, 163));
  margin-top: 20px;
  flex-shrink: 0;
}

#transactionProfileData #transactionRank {
  margin-top: 5px;
  display: flex;
  color: white;
}

#transactionCocsNO{
  font-size: 3.2rem;
  font-weight: 900;
  color: gold;
}
#transactionProfileData h3 {
  color: gold;
}

#transactionRank {
  font-size: 1.2rem;
  font-weight: 900;
}

#transactionProfileData #transactionRank p {
  color: gold;
  margin-left: 5px;
  font-size: 1.2rem;
}


.transactionProfilePicture div {
  font-size: 6rem;
}


#transactions {
  width: 85%;
  max-width: 400px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  direction: rtl;
  flex-shrink: 0;
}
#transactions h4{
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1;
}
#transactionSearch{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: lightgray solid 2px;
  border-radius: 10px;
  position: relative;
  display: flex;
}
#transactionSearchBar{
  width: 100%;
  padding: 5px;
}
#transactionSearchBar:focus{
  outline: none;
}
#transactionSearch .icon-search{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  cursor: pointer;
  pointer-events: none;
  transition: .5s;
}
.searchAvailableUsers{
  width: 100%;
  max-height: 30dvh;
  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  border-radius: 15px;
  background-color: rgba(5, 12, 56, 0.9);
}
.searchResult{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.searchResultName{
  font-size: 1.1rem;
  font-weight: 700;
}

#transactionSend{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  background: linear-gradient(to right, rgba(2, 42, 61, 0.692), rgb(1, 112, 163));
  direction: ltr;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(19, 29, 85);
}


#transactionHistory{
  width: 85%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  direction: rtl;
  flex: 1;
  margin-top: 30px;
  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
.transactionHistoryHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.transactionHistoryHeader div{
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 10px;
}
.transactionHistoryData{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  gap: 5px;
}
.transaction{
  background-color: rgb(29, 43, 73);
  width: 100%;
  display: flex;
  border-radius: 15px;
  padding: 15px;
}
.transactionIcon{
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  margin-left: 10px;
}
.transaction.recive .transactionIcon div ,.transaction.recive .transactionAmount{
  color: rgb(65, 202, 60);
}
.transaction.send .transactionIcon div ,.transaction.send .transactionAmount{
  color: rgb(202, 60, 60);
}
.transactionData{
  display: flex;
  flex-direction: column;
  direction: rtl;
  gap: 5px;
}
.transactionDate{
  font-size: .9rem;
  font-weight: 600;
  line-height: 1;
  color: rgba(228, 221, 221, 0.692);
}
.transactionDetails{
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
  color: white;
}
.transactionAmount{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  direction: ltr;
  margin-right: auto;
  align-self: center;
}