* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: transparent;
  border: none;
}

body {
  background-color: rgb(6, 2, 32);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}

.icon-bell {
  font-size: 20px;
  position: relative;
}

.unreadedNotifications::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  top: -2px;
  right: -2px;
}

.logoTitle {
  height: 30px;
  display: flex;
  align-items: center;
  ;
  gap: 5px;
}

.logoTitle div {
  height: 100%;
}

.logoTitle img {
  object-fit: contain;
  height: 100%;
}

.logoTitleName {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profilePicture {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profilePicture span {
  height: 100%;
  font-size: 18px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

#pointsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5dvh;
}

#pointsNO {
  font-size: 4rem;
  font-weight: 900;
  color: rgb(255, 238, 0);
}

#pointsSection h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

#rank {
  color: red;
  font-size: 1rem;
}

#todayActivity {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  position: relative;
  direction: rtl;
  padding-inline: 0 50;
}

#todayActivity::before,
#todayActivity::after {
  content: '';
  flex: 0 0 calc(50% - 150px);
  scroll-snap-align: none;
}

.activityDataContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  direction: ltr;
  height: 100%;
}

#todayActivity>div {
  flex-shrink: 0;
  width: 75%;
  max-width: 300px;
  border-radius: 15px;
  background-color: rgba(96, 145, 168, 0.692);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.activityInfo {
  direction: rtl;
  height: 100%;
  min-width: 50%;
}

#todayActivity>.activeTask {
  background: linear-gradient(to right, rgba(2, 42, 61, 0.692), rgba(1, 100, 146, 0.692));
}

.activityIcon {
  font-size: 3rem;
}

#todayActivity {
  width: 100%;
  max-width: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

#todayActivity>div {
  scroll-snap-align: center;
}

#activityState {
  color: rgb(197, 197, 206);
  font-size: 1.2rem;
}

#activityTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3px 0 5px 0;
}

#activityTiming,
#activityPlace {
  color: rgb(197, 197, 206);
  font-size: 1rem;
}
.currentActivityProgress{
  width: 95%;
  height: 5px;
  margin-bottom: 5px;
  background-color: rgb(121, 133, 163);
  align-self: center;
  border-radius: 5px;
}
.currentActivityProgress>div{
  border-radius: 5px;
  width: 0;
  height: 100%;
  background-color: rgb(192, 206, 231);
}
.notice{
  position: absolute;
  border: rgba(255, 0, 0, 0.651) solid;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.notice> span{
  font-size: 3rem;
}

/*loading skelaton animation*/
.loading{
  background: linear-gradient(to right ,rgb(121, 133, 163), rgb(192, 206, 231),rgb(121, 133, 163));
  border-radius: 15px;
  background-size: 500%;
  animation: loading 2s infinite forwards;
}

#activityState.loading{
  width: 50%;
  height: 1rem;
}
#activityTitle.loading{
  width: 80%;
  height: 1.2rem;
  margin-top: 10px;
}
#activityTiming.loading{
  width: 70%;
  height: 1rem;
  margin-top: 10px;
}
#activityPlace.loading{
  width: 40%;
  height: .8rem;
  margin-top: 3px;
}
.loadingC.activityIcon{
  width: 3rem;
  height: 3rem;
  display: block;
  background: linear-gradient(to right ,rgb(121, 133, 163), rgb(192, 206, 231),rgb(121, 133, 163));
  border-radius: 15px;
  background-size: 500%;
  animation: loadingC 2s infinite forwards;
}

@keyframes loading {
  0% {
    background-position: 0%;
    border-radius: 10px;
  }
  100% {
    border-radius: 10px;
    background-position: -120%;
  }
}
@keyframes loadingC {
  0% {
    background-position: 0%;
    border-radius: 50%;
  }
  100% {
    border-radius: 50%;
    background-position: -120%;
  }
}