#dashboard-tasks-page {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  direction: rtl;
}

#createTask{
  overflow: scroll;
  scrollbar-width: none;
  min-height: 90px;
  max-height: max-content;
  background-color: rgb(10, 23, 39);
  border: rgb(19, 36, 58) solid 2px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
  padding: 15px;
  transition: 1s;
}
#createTaskHeader{
  margin: 0;
  width: 100%;
  padding-top: 0;
}
#createTaskHeader>div{
  font-size: 2rem;
}

#createTaskContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

#createTaskContainer>* {
  background-color: rgb(19, 36, 58);
  border-radius: 7px;
  font-size: .9rem;
}

#createTaskTitle {
  width: 100%;
  height: 1.2rem;
  padding: 15px 0;
}

#createTaskDes {
  padding: 10px 0;
  max-width: 100%;
  min-width: 100%;
  flex: 1;
  min-height: 50px;
  overflow: auto;
}

#dateFiled {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  padding: .5rem;
}

#dateF {
  height: 20px;
  flex: 1;
  max-width: 70px;
  margin-right: 5px;
}

.taskAdditions {
  padding: 10px;
  border-radius: 7px;
}

.taskAdditionsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskAdditionsBtn {
  display: flex;
  align-items: center;
  width: 30%;
  max-width: 60px;
  height: 2rem;
  border-radius: 15px;
  position: relative;
  transition: 1s;
  background-image: linear-gradient(to right, rgb(46, 228, 46), rgb(150, 235, 150), rgb(235, 150, 150), rgb(228, 46, 46));
  background-size: 300%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 1s;
}
.taskAdditionsBtn[data-state = "active"]{
  background-position: 0;
  border: green solid 1px;
}
.taskAdditionsBtn[data-state = "disactive"]{
  background-position: 100%;
  border: red solid 1px;
}

.taskAdditionsBtn>div {
  background-color: aliceblue;
  border-radius: 50%;
  height: 80%;
  aspect-ratio: 1/1;
  margin: 0 10%;
  position: absolute;
  transition: 1s;
}
.taskAdditionsBtn[data-state = "active"] div{
  left: 0;
}
.taskAdditionsBtn[data-state = "disactive"] div{
  left: 100%;
  transform: translateX(-150%);
}


.taskAdditionsBody>div {
  display: flex;
  align-items: center;
  padding: 3px;
  margin-top: 10px;
}
.taskAdditionsBody>div>div{
  font-size: 1.5rem;
}
.taskAdditionsBody>div>input {
  flex: 1;
  max-width: 200px;
  text-align: end;
  margin-right: 10px;
}
#actionBtnBody>div>input{
  text-align: start;
}
#createTaskContainer>button{
  width: 100%;
  height: 3rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.3rem;
  font-weight: 900;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  margin-top: 20px;
}

button#confirmTask{
  background-image: linear-gradient(to right, rgb(141, 121, 5), rgb(196, 171, 34), rgb(109, 93, 2));
}
button#cancelTask{
  background-image: linear-gradient(to right, rgb(141, 5, 5), rgb(196, 34, 34), rgb(109, 2, 2));
}


section#tasksHistory{
  background-color: rgb(10, 23, 39);
  border: rgb(19, 36, 58) solid 2px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  margin-top: 20px;
  padding: 15px;
}
#tasksHistoryContainer{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.adayTasks{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.adayTaskDate{
  background-image: linear-gradient(to right, rgb(141, 121, 5), rgb(196, 171, 34), rgb(109, 93, 2));
  padding: 10px;
  border-radius: 7px;
  color: rgb(31, 28, 28);
  font-weight: 900;
}
.adayTasksList{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.adayTasksList>.task{
  border: rgb(196, 171, 34) solid;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  display: flex;
}
.task .taskActionBtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgb(141, 121, 5), rgb(196, 171, 34), rgb(109, 93, 2));
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.task .taskActionBtn button{
  font-size: 1.5rem;
  color: black;
  padding: 10px 20px;
}
.task .taskSummary{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  height: 100%;
}
.task .taskSummary h4{
  margin-bottom: 5px;
}
.task .taskSummary p:nth-child(2){
  min-height: 5px;
  height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: unset;
  -webkit-box-orient: vertical;

}
.task .taskSummary p:last-child{
  height: 1rem;
  font-size: .8rem;
  color: aliceblue;
  margin-top: 3px;
}