@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m1kkcg');
  src:  url('fonts/icomoon.eot?m1kkcg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m1kkcg') format('truetype'),
    url('fonts/icomoon.woff?m1kkcg') format('woff'),
    url('fonts/icomoon.svg?m1kkcg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e951";
}
.icon-gamepad:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-user1:before {
  content: "\e903";
}
.icon-user2:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e905";
}
.icon-pause:before {
  content: "\f144";
}
