@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?12snnf');
  src:  url('fonts/icomoon.eot?12snnf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?12snnf') format('truetype'),
    url('fonts/icomoon.woff?12snnf') format('woff'),
    url('fonts/icomoon.svg?12snnf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e951";
}
.icon-done:before {
  content: "\e908";
}
.icon-missed:before {
  content: "\e909";
}
.icon-gamepad:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-user1:before {
  content: "\e903";
}
.icon-user2:before {
  content: "\e904";
}
.icon-notice:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e905";
}
.icon-time:before {
  content: "\e90a";
}
.icon-timer:before {
  content: "\e90b";
}
.icon-leaderboard:before {
  content: "\e90c";
}
.icon-task:before {
  content: "\e907";
}
.icon-pause:before {
  content: "\f144";
}
.icon-history:before {
  content: "\f1da";
}
